In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
dfJerarquiaClasificacionBS = pd.read_csv('DatosSitioWeb/tablas relacionadas/jerarquiaClasificacionBS.csv')

In [3]:
dfClasificacionbs = pd.read_csv('DatosSitioWeb/tablas relacionadas/clasificacionbs.csv')

In [4]:
dfIdentificacionbs = pd.read_csv('DatosSitioWeb/tablas relacionadas/identificacionbs.csv')

In [5]:
dfProductobs = pd.read_csv('DatosSitioWeb/tablas relacionadas/productobs.csv')

In [6]:
dfJerarquiaClasificacionBS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43633 entries, 0 to 43632
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigoClasificacion  43633 non-null  int64
 1   nombreClasificacion  43633 non-null  object
 2   codigoSegmento       43633 non-null  int64
 3   nombreSegmento       43633 non-null  object
 4   codigoClase          43633 non-null  int64
 5   nombreClase          43633 non-null  object
 6   codigoFamilia        43633 non-null  int64
 7   nombreFamilia        43633 non-null  object
dtypes: int64(4), object(4)
memory usage: 2.7+ MB

In [7]:
dfJerarquiaClasificacionBS = dfJerarquiaClasificacionBS.convert_dtypes()

In [8]:
dfJerarquiaClasificacionBS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43633 entries, 0 to 43632
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   codigoClasificacion  43633 non-null  Int64
 1   nombreClasificacion  43633 non-null  string
 2   codigoSegmento       43633 non-null  Int64
 3   nombreSegmento       43633 non-null  string
 4   codigoClase          43633 non-null  Int64
 5   nombreClase          43633 non-null  string
 6   codigoFamilia        43633 non-null  Int64
 7   nombreFamilia        43633 non-null  string
dtypes: Int64(4), string(4)
memory usage: 2.8 MB

In [9]:
dfJerarquiaClasificacionBS.head()

,codigoClasificacion,nombreClasificacion,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia
0,48101708,Máquinas de granizados,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida
1,48101710,Fuentes de agua potable,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida
2,48101711,Dispensadores de agua embotellada,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida
3,48101713,Coctelera o accesorios de coctel,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida
4,50353630,Uvas mission orgánicas congeladas,50,"Alimentos, Bebidas y Tabaco",5035,Fruta orgánica congelada,503536,Uvas para vino orgánicas congeladas

In [10]:
dfClasificacionbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58737 entries, 0 to 58736
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   codigo_clasificacion  58737 non-null  int64
 1   nombre_clasificacion  58737 non-null  object
dtypes: int64(1), object(1)
memory usage: 917.9+ KB

In [11]:
dfClasificacionbs = dfClasificacionbs.convert_dtypes()

In [12]:
dfClasificacionbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58737 entries, 0 to 58736
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   codigo_clasificacion  58737 non-null  Int64
 1   nombre_clasificacion  58737 non-null  string
dtypes: Int64(1), string(1)
memory usage: 975.3 KB

In [13]:
dfClasificacionbs.head()

   codigo_clasificacion                               nombre_clasificacion
0              50425302                         Cacahuetes florunner secos
1              50405503               Cacahuetes hausa/kersting ground nut
2              50445303               Cacahuetes hausa/kersting ground nut
3              50465303  Cacahuetes hausa/kersting ground nut enlatados...
4              50415403     Cacahuetes hausa/kersting ground nut orgánicos

In [14]:
dfIdentificacionbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460533 entries, 0 to 460532
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   codigo_identificacion_p        460533 non-null  int64
 1   nombre_identificacion          460533 non-null  object
 2   codigo_clasificacion           460533 non-null  int64
 3   codigo_identificacion          460533 non-null  int64
 4   aspectos_ambientales_sociales  653 non-null     object
dtypes: int64(3), object(2)
memory usage: 17.6+ MB

In [15]:
dfIdentificacionbs = dfIdentificacionbs.convert_dtypes()

In [16]:
dfIdentificacionbs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460533 entries, 0 to 460532
Data columns (total 5 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   codigo_identificacion_p        460533 non-null  Int64
 1   nombre_identificacion          460533 non-null  string
 2   codigo_clasificacion           460533 non-null  Int64
 3   codigo_identificacion          460533 non-null  Int64
 4   aspectos_ambientales_sociales  653 non-null     string
dtypes: Int64(3), string(2)
memory usage: 18.9 MB

In [17]:
dfIdentificacionbs.head()

,codigo_identificacion_p,nombre_identificacion,codigo_clasificacion,codigo_identificacion,aspectos_ambientales_sociales
0,90030010,EQUIPO DE GRABACION PORTATIL,52161535,5216153590030010,<NA>
1,90031597,"POVIDONA YODURO 7.5% A 10%, SOLUC/TOPICA",51102713,5110271390031597,<NA>
2,90028373,CABLE THHN N°12 COLOR AZUL PARA OPERAR A 600 V...,26121634,2612163490028373,<NA>
3,92005500,EQUIPO AUTOMATICO PARA DETERMINAR LA VISCOCIDA...,41103312,4110331292005500,<NA>
4,92005504,EQUIPO MUESTREADOR ISOCENTRICO PARA MEDIR PART...,41104016,4110401692005504,<NA>

In [18]:
dfProductobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653242 entries, 0 to 1653241
Data columns (total 7 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   codigo_clasificacion_p         1653242 non-null  int64
 1   codigo_identificacion_p        1653242 non-null  int64
 2   codigo_producto_p              1653242 non-null  int64
 3   desc_bien_servicio             1653234 non-null  object
 4   codigo_identificacion          1653242 non-null  int64
 5   codigo_producto                1653242 non-null  object
 6   aspectos_ambientales_sociales  7316 non-null     object
dtypes: int64(4), object(3)
memory usage: 88.3+ MB

In [19]:
dfProductobs = dfProductobs.convert_dtypes()

In [20]:
dfProductobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1653242 entries, 0 to 1653241
Data columns (total 7 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   codigo_clasificacion_p         1653242 non-null  Int64
 1   codigo_identificacion_p        1653242 non-null  Int64
 2   codigo_producto_p              1653242 non-null  Int64
 3   desc_bien_servicio             1653234 non-null  string
 4   codigo_identificacion          1653242 non-null  Int64
 5   codigo_producto                1653242 non-null  string
 6   aspectos_ambientales_sociales  7316 non-null     string
dtypes: Int64(4), string(3)
memory usage: 94.6 MB

In [21]:
dfProductobs.head()

,codigo_clasificacion_p,codigo_identificacion_p,codigo_producto_p,desc_bien_servicio,codigo_identificacion,codigo_producto,aspectos_ambientales_sociales
0,41111709,92082413,4,"Con corrección óptica para cubreobjetos de 0,1...",4111170992082413,411117099208241300000004,<NA>
1,53131608,90003017,57,JABON LIQUIDO ANTIBACTERIAL PARA MANOS USO EN ...,5313160890003017,531316089000301700000057,"BIODEGRADABLE, AMIGABLE CON EL AMBIENTE, LIBRE..."
2,15121597,92041595,1,ACEITE LUBRICANTE (PREPARADO) PENETRANTE ENVAS...,1512159792041595,151215979204159500000001,<NA>
3,26111703,92005631,7,"BATERIA N200 PESO 60,94 KG CAPACIDAD DE ARRA...",2611170392005631,261117039200563100000007,<NA>
4,40141609,92074060,5,"VALVULA DE CONTROL, DIAMETRO DE 508 mm, APERTU...",4014160992074060,401416099207406000000005,<NA>

In [22]:
dfJerarquiaDetalleClasificacionBS = pd.merge(dfJerarquiaClasificacionBS, dfClasificacionbs, left_on= ['codigoClasificacion'],
right_on= ['codigo_clasificacion'], how="inner")

In [23]:
dfJerarquiaDetalleClasificacionBS.head()

,codigoClasificacion,nombreClasificacion,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion
0,48101708,Máquinas de granizados,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados
1,48101710,Fuentes de agua potable,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable
2,48101711,Dispensadores de agua embotellada,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101711,Dispensadores de agua embotellada
3,48101713,Coctelera o accesorios de coctel,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101713,Coctelera o accesorios de coctel
4,50353630,Uvas mission orgánicas congeladas,50,"Alimentos, Bebidas y Tabaco",5035,Fruta orgánica congelada,503536,Uvas para vino orgánicas congeladas,50353630,Uvas mission orgánicas congeladas

In [24]:
dfJerarquiaDetalleClasificacionBS.drop('codigoClasificacion', axis=1, inplace=True)
dfJerarquiaDetalleClasificacionBS.drop('nombreClasificacion', axis=1, inplace=True)

In [25]:
dfJerarquiaDetalleClasificacionBS.head()

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101711,Dispensadores de agua embotellada
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101713,Coctelera o accesorios de coctel
4,50,"Alimentos, Bebidas y Tabaco",5035,Fruta orgánica congelada,503536,Uvas para vino orgánicas congeladas,50353630,Uvas mission orgánicas congeladas

In [31]:
dfClasificacionIdentificacion = pd.merge(dfJerarquiaDetalleClasificacionBS, dfIdentificacionbs, how="inner", on=["codigo_clasificacion"])

In [32]:
dfClasificacionIdentificacion.head()

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion,codigo_identificacion_p,nombre_identificacion,codigo_identificacion,aspectos_ambientales_sociales
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,<NA>
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,<NA>
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92394175,"FUENTE DE AGUA ELÉCTRICA, DIMENSIONES 50 cm AN...",4810171092394175,<NA>
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92204522,"FUENTE DE AGUA FRÍA TIPO OASIS, CAPACIDAD 18,9...",4810171092204522,<NA>
4,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,90010085,FUENTE P/AGUA AMERICAN STANDARD,4810171090010085,<NA>

In [54]:
dfProductosBS = pd.merge(dfClasificacionIdentificacion, dfProductobs, how="inner", on=["codigo_identificacion"])

In [55]:
dfProductosBS.head()

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion,codigo_identificacion_p_x,nombre_identificacion,codigo_identificacion,aspectos_ambientales_sociales_x,codigo_clasificacion_p,codigo_identificacion_p_y,codigo_producto_p,desc_bien_servicio,codigo_producto,aspectos_ambientales_sociales_y
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,<NA>,48101708,92174534,1,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000001,<NA>
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,<NA>,48101708,92174534,2,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000002,<NA>
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,<NA>,48101708,92174534,3,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000003,<NA>
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,<NA>,48101710,92066055,2,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000002,<NA>
4,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,<NA>,48101710,92066055,1,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000001,<NA>

In [56]:
dfProductosBS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646522 entries, 0 to 1646521
Data columns (total 18 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   codigoSegmento                   1646522 non-null  Int64
 1   nombreSegmento                   1646522 non-null  string
 2   codigoClase                      1646522 non-null  Int64
 3   nombreClase                      1646522 non-null  string
 4   codigoFamilia                    1646522 non-null  Int64
 5   nombreFamilia                    1646522 non-null  string
 6   codigo_clasificacion             1646522 non-null  Int64
 7   nombre_clasificacion             1646522 non-null  string
 8   codigo_identificacion_p_x        1646522 non-null  Int64
 9   nombre_identificacion            1646522 non-null  string
 10  codigo_identificacion            1646522 non-null  Int64
 11  aspectos_ambientales_sociales_x  5470 non-null     string
 12  codigo_clasificacion_p           1646522 non-null  Int64
 13  codigo_identificacion_p_y        1646522 non-null  Int64
 14  codigo_producto_p                1646522 non-null  Int64
 15  desc_bien_servicio               1646514 non-null  string
 16  codigo_producto                  1646522 non-null  string
 17  aspectos_ambientales_sociales_y  7232 non-null     string
dtypes: Int64(9), string(9)
memory usage: 252.8 MB

In [57]:
dfProductosBS.drop('codigo_clasificacion_p', axis=1, inplace=True)
dfProductosBS.drop('codigo_identificacion_p_y', axis=1, inplace=True)  
dfProductosBS.drop('aspectos_ambientales_sociales_x', axis=1, inplace=True)

In [58]:
dfProductosBS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646522 entries, 0 to 1646521
Data columns (total 15 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   codigoSegmento                   1646522 non-null  Int64
 1   nombreSegmento                   1646522 non-null  string
 2   codigoClase                      1646522 non-null  Int64
 3   nombreClase                      1646522 non-null  string
 4   codigoFamilia                    1646522 non-null  Int64
 5   nombreFamilia                    1646522 non-null  string
 6   codigo_clasificacion             1646522 non-null  Int64
 7   nombre_clasificacion             1646522 non-null  string
 8   codigo_identificacion_p_x        1646522 non-null  Int64
 9   nombre_identificacion            1646522 non-null  string
 10  codigo_identificacion            1646522 non-null  Int64
 11  codigo_producto_p                1646522 non-null  Int64
 12  desc_bien_servicio               1646514 non-null  string
 13  codigo_producto                  1646522 non-null  string
 14  aspectos_ambientales_sociales_y  7232 non-null     string
dtypes: Int64(7), string(8)
memory usage: 212.0 MB

In [59]:
dfProductosBS.rename(columns={'codigo_identificacion': 'cod_clasi_identi', 'codigo_identificacion_p_x': 'codigo_identificacion', 'aspectos_ambientales_sociales_y': 'ambiente_social'}, inplace=True)

In [60]:
dfProductosBS.head()

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion,codigo_identificacion,nombre_identificacion,cod_clasi_identi,codigo_producto_p,desc_bien_servicio,codigo_producto,ambiente_social
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,1,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000001,<NA>
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,2,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000002,<NA>
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,3,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000003,<NA>
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,2,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000002,<NA>
4,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,1,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000001,<NA>

In [61]:
dfProductosBS.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1646522 entries, 0 to 1646521
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   codigoSegmento         1646522 non-null  Int64
 1   nombreSegmento         1646522 non-null  string
 2   codigoClase            1646522 non-null  Int64
 3   nombreClase            1646522 non-null  string
 4   codigoFamilia          1646522 non-null  Int64
 5   nombreFamilia          1646522 non-null  string
 6   codigo_clasificacion   1646522 non-null  Int64
 7   nombre_clasificacion   1646522 non-null  string
 8   codigo_identificacion  1646522 non-null  Int64
 9   nombre_identificacion  1646522 non-null  string
 10  cod_clasi_identi       1646522 non-null  Int64
 11  codigo_producto_p      1646522 non-null  Int64
 12  desc_bien_servicio     1646514 non-null  string
 13  codigo_producto        1646522 non-null  string
 14  ambiente_social        7232 non-null     string
dtypes: Int64(7), string(8)
memory usage: 212.0 MB

In [76]:
dfProductosBS['intento'] = dfProductosBS['codigo_producto_p'].astype(str).apply(lambda x: x.zfill(8))
dfProductosBS

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion,codigo_identificacion,nombre_identificacion,cod_clasi_identi,codigo_producto_p,desc_bien_servicio,codigo_producto,ambiente_social,compare,intento
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,1,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000001,<NA>,False,00000001
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,2,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000002,<NA>,False,00000002
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,3,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000003,<NA>,False,00000003
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,2,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000002,<NA>,False,00000002
4,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,1,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000001,<NA>,False,00000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646517,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92351654,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",2410150192351654,2,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",241015019235165400000002,<NA>,False,00000002
1646518,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92351654,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",2410150192351654,1,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",241015019235165400000001,<NA>,False,00000001
1646519,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92040603,"CARRITO ACARREO EN METAL NIQUELADO, MANILLA PL...",2410150192040603,1,Material: chasis de metal niquelado y manilla...,241015019204060300000001,<NA>,False,00000001
1646520,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92239670,"CARRITO METÁLICO CROMADO, TIPO CARRITO DE COMP...",2410150192239670,2,Carritos metálicos cromados tradicionales Ti...,241015019223967000000002,<NA>,False,00000002
1646521,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92239670,"CARRITO METÁLICO CROMADO, TIPO CARRITO DE COMP...",2410150192239670,1,Carritos metálicos cromados tradicionales Ti...,241015019223967000000001,<NA>,False,00000001

In [77]:
dfProductosBS['compare'] = (dfProductosBS['codigo_producto'] == 
                            (dfProductosBS['cod_clasi_identi'].astype(str) + dfProductosBS['intento']))

In [78]:
dfProductosBS

,codigoSegmento,nombreSegmento,codigoClase,nombreClase,codigoFamilia,nombreFamilia,codigo_clasificacion,nombre_clasificacion,codigo_identificacion,nombre_identificacion,cod_clasi_identi,codigo_producto_p,desc_bien_servicio,codigo_producto,ambiente_social,compare,intento
0,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,1,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000001,<NA>,True,00000001
1,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,2,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000002,<NA>,True,00000002
2,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101708,Máquinas de granizados,92174534,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",4810170892174534,3,"MAQUINA GRANIZADORA 2 TANQUES, CAPACIDAD 11 L ...",481017089217453400000003,<NA>,True,00000003
3,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,2,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000002,<NA>,True,00000002
4,48,"Maquinaria, Equipo y Suministros para la Indus...",4810,Equipos de servicios de alimentación para inst...,481017,Distribuidores automáticos de comida y bebida,48101710,Fuentes de agua potable,92066055,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",4810171092066055,1,"FUENTE DE LOZA VITRIFICADA, TIPO OASIS, COLOR ...",481017109206605500000001,<NA>,True,00000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646517,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92351654,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",2410150192351654,2,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",241015019235165400000002,<NA>,True,00000002
1646518,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92351654,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",2410150192351654,1,"CARRITO METALICO, ACERO INOXIDABLE (MATERIAL A...",241015019235165400000001,<NA>,True,00000001
1646519,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92040603,"CARRITO ACARREO EN METAL NIQUELADO, MANILLA PL...",2410150192040603,1,Material: chasis de metal niquelado y manilla...,241015019204060300000001,<NA>,True,00000001
1646520,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92239670,"CARRITO METÁLICO CROMADO, TIPO CARRITO DE COMP...",2410150192239670,2,Carritos metálicos cromados tradicionales Ti...,241015019223967000000002,<NA>,True,00000002
1646521,24,"Maquinaria, Accesorios y Suministros para Mane...",2410,Maquinaria y equipo para manejo de materiales,241015,Camiones industriales,24101501,Carritos (NO USAR),92239670,"CARRITO METÁLICO CROMADO, TIPO CARRITO DE COMP...",2410150192239670,1,Carritos metálicos cromados tradicionales Ti...,241015019223967000000001,<NA>,True,00000001

In [79]:
value_counts = dfProductosBS['compare'].value_counts()
print(value_counts)

True    1646522
Name: compare, dtype: Int64

In [80]:
dfProductosBS.drop('compare', axis=1, inplace=True)
dfProductosBS.drop('ambiente_social', axis=1, inplace=True)  
dfProductosBS.drop('intento', axis=1, inplace=True)

In [81]:
filepath = Path('DatosSitioWeb/out/matrixProductos.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
dfProductosBS.to_csv(filepath)

In [88]:
value_counts = dfProductosBS['codigoSegmento'].value_counts()
print(value_counts)

31    115559
41    106528
42    103268
43     95404
40     92496
27     90921
46     90343
44     88466
30     87036
39     85730
47     78954
53     68592
56     59004
14     40336
26     37790
52     36910
25     30086
55     28001
81     25567
24     24493
72     24000
23     19462
15     16601
60     16585
50     16326
51     16141
82     16012
45     13797
49     13479
10     11490
48     10886
11     10585
86      8212
78      7675
80      7553
90      7218
85      6587
73      6369
12      6017
32      5862
20      4027
83      3031
21      2998
92      1894
70      1685
22      1673
76      1533
95       795
13       626
84       513
93       453
54       342
91       302
77       188
71        65
94        33
64        23
Name: codigoSegmento, dtype: Int64